[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
py-bcrypt = "*"
flask-migrate = "*"
cors = "*"
flask-cors = "*"
flask-bcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
