[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
cors = "*"
flask-cors = "*"
python-dotenv = "*"
flask-dotenv = "*"
bcrypt = "*"
flask-bcrypt = "*"
faker = "*"
jwt = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
