[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
cors = "*"
flask-cors = "*"
flask-dotenv = "*"
bcrypt = "*"
flask-bcrypt = "*"
faker = "*"
pillow = "*"
stripe = "*"
pytz = "*"
python-dotenv = "*"
sendgrid = "*"
twilio = "*"
pyjwt = "==2.9.0"
gunicorn = "*"
flask-jwt-extended = "*"
jwt = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
