/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}


/* Basic typography */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* background-image: url('../images/grass_2400px.jpg'); */
  background-image: url('../images/LzYeux_120719_0036_2400px.png');
  /* background-image: url('../images/gingham-pattern-1_2400px.jpg'); */
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-color: #a7a7a7;
  color: #333;
}

/* Container for centering content */
.container {
  position: relative;
  top: 0;
  width: 90%;
  max-width: 1200px;
  /* background-color: #a7a7a7; */
  display: box;
  justify-content: space-between;
  padding: 20px 5%;
  margin: auto;
  border-radius: 20px;
  /* Adjust padding as needed */
  /* box-shadow: 0 4px 2px -2px #ff7b8a; */
}

.wrapper {
  background-color: white;
  width: fit-content;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  /* opacity: 75%; */
  border-radius: 20px;
}

/* Header styling */
header {
  background: #d8f4fe;
  color: #fff;
  padding: 0px 0 32px 0;
  text-align: center;
  font-size: 24px;
  margin-bottom: -40px;
  border-radius: 20px 20px 0 0;
}

.header {
  /* background-color: #d8f4fe; */
  width: 90%;
  margin: 0 20px 20px 20px;
}

.logo {
  width: 50px;
  margin: 10px 10px -2px 10px;
}

/* Main content area */
main {
  padding: 20px;
  background: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px #b5b5b5;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h2 {
  background-color: #d8f4fe;
  width: fit-content;
}

.title {
  margin:16px;
}

p,
li,
div {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  ;
}

li {
  display: inline;
}

.nav-tab {
  border: none;
  font-size: 18px;
  /* Adjust font size as needed */
  cursor: pointer;
  padding: 23px 24px 26px 24px;
  margin: 0px 0 -20px 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;

  /* font-style: normal; */
  
}

.color-1 {
  background: #ff7b8a;
}

.color-2 {
  background: #ff8300;
}

.color-3 {
  background: #ff806b;
}

.color-4 {
  background: #ff9e5c;
}

.color-5 {
  background: #ff6786;
}

.color-6 {
  background: #6c7ae0;
}

.tab-right {
  border-radius: 0 20px 0 0;
}

.float-left {
  float: left;
}

.side-select {
  margin-left: auto;
  margin-right: 0;
}
.side-select2 {
  float: right;
}
.no-float {
  clear:both;
}
.box-big {
  float: none;
}
.box-big-blue {
  float: none;
  background-color: #d8f4fe;
  margin-top: 48px;
  padding: 24px;

}
.side-basket {
  margin-top: auto;
  margin-bottom: 8px;
  margin-right: 12px;
}
.basket-details {
  float: left;
}
.login-bar {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}
.login-bar {
  font-size: 11pt;
}
.login-bar input {
  margin: 0px 8px;
}
.login-bar button {
  width: min-content;
  padding: 10px 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  background-color: #dbdbdb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.btn-edit {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: #dbdbdb;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.btn-delete {
  padding: 6px 8px;
  border-radius: 8px;
  border: none;
  background-color: #dbdbdb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  float: right;
}

.btn-like {
  margin-left: 20px;
  margin-top: -4px;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #ffd1d8;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.btn-like:hover {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: #ff7b8a;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

button a {
  text-decoration: none;
  color: black;
  /* Adjust link color as needed */
}

button a.active {
  /* font-weight: bold; */
  /* background: #fff537; */
  padding: 10px 20px 10px 20px;
  /* Styling for active link */
}

button:hover {
  background: #fffa9c;
}

.add-cart {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #dbdbdb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  float: right;
}

select {
  background: #fffa9c;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  appearance: none;
  padding: 8px 16px;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 10pt;
}

.big-logo {
  float: left;
  width: 300px;
}

.cart-item {
  margin: 8px;
  padding: 8px;
}

div>a:hover {
  background-color: #fffa9c;
}

#map {
  width: 98%;
  height: 40vh;
  min-height: 400px;
  margin: 0% 1%;
}

/* Basic form styling */
form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-right {
  border-radius: 0 20px 0 0;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* Optional: Add background color */
}

.form {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
}

.markets-container {
  width: 100%;
  max-width: 1200px;
  /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.market-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the gap between cards */
  justify-content: center;
}

.market-cards-container>* {
  flex: 0 0 calc(33.33% - 20px);
  /* Adjust to make three cards fit per row */
  max-width: calc(33.33% - 20px);
  /* Adjust max-width based on desired spacing */
  float: none;
  position: auto;
  top: calc(20vh );
}

.market-card {
  border: 1px solid #ccc;
  /* Example border styling */
  padding: 10px;
  width: 100%;
  /* Adjust width as needed */
  max-width: 300px;
  /* Example max-width */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* Example shadow */
  background-color: #fff;
  /* Example background color */
  text-align: center;
}

.market-card-button {
  display: block;
  width: 100%;
  max-width: 200px;
  /* Example max-width for the button */
  margin: 10px auto;
  /* Center align the button */
  padding: 8px 16px;
  border: 1px solid #ff3399;
  /* Border color for the button */
  background-color: #ff6699;
  /* Button background color */
  color: #fff;
  /* Button text color */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.market-card-button:hover {
  background-color: #ff8300;
}