/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3b4752;
}

@font-face {
  font-family: nf-le-petit-cochon;
  src: url(../fonts/nf-le-petit-cochon-regular.ttf);
}

a {
  color: #3b4752;
  text-decoration: none;
}

div>a:hover, .link-yellow:hover {
  background-color: #fffa9c;
}

/* .link-yellow:hover {
  background-color: #fffa9c;
} */

html {
  height: 100%;
}


/* Basic typography */
body {
  margin: 0;
  /* margin-top: -15px; */
  place-items: center;
  min-height: 100vh;
  background-image: url('../images/gingham_seamless-strawberry-01.svg');
  background-size: auto;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

/* Container for centering content */
.container {
  position: relative;
  top: 0;
  width: 90vw;
  max-width: 1200px;
  min-height: 100%;
  /* background-color: #a7a7a7; */
  display: box;
  justify-content: space-between;
  padding: 20px 5%;
  margin: auto;
  margin-bottom: 48px;
  border-radius: 20px;
  /* Adjust padding as needed */
  /* box-shadow: 0 4px 2px -2px #ff7b8a; */
}

.wrapper {
  background-color: white;
  width: fit-content;
  /* margin-top: 40px; */
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  /* opacity: 75%; */
  border-radius: 20px;
}

.wrapper-error {
  background-color: white;
  width: fit-content;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  /* opacity: 75%; */
  border-radius: 20px;
}

.vendor-wrapper {
  background-color: white;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  border-radius: 20px;
}

/* Header styling */
header {
  background: #d8f4fe;
  color: #fff;
  padding: 0px 0 32px 0;
  text-align: center;
  font-size: 24px;
  margin-bottom: -40px;
  border-radius: 20px 20px 0 0;
}

.header {
  /* background-color: #d8f4fe; */
  width: 90%;
  margin: 0 20px 20px 20px;
}

.logo {
  width: 50px;
  margin: 10px 10px -2px 10px;
}

/* Main content area */
main {
  padding: 20px;
  background: #fff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px #b5b5b5;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  background-color: #d8f4fe;
  width: fit-content;
}

.title-big {
  font-size: 6em;
}

.title {
  margin:16px;
}

.font-gingham {
  font-family: nf-le-petit-cochon;
  margin-bottom: -24px;
}


.text-light {
  color: white;
}

.text-center {
  text-align: center;
}

.separator {
  border: 0;
  height: 3px;
  background-color: #ccc;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p, li, div, form, input, select, button, textarea {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ul-footer {
  width: fit-content;
}

.footer-li {
  color: #3b4752;
  margin: 4px;
  padding: 4px;
}

.footer-li:hover {
  background-color: #fffcbe;
}

.footer-li:active {
  background-color: #fff669;
  transition: .1s;
}

.nav-bar ul{
  display: flex;
}

.nav-bar li {
  display: inline;
}

.cart li {
  background-color: #d8f4fe;
  width: 100%;
}

.nav-tab {
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 23px 24px 26px 24px;
  margin: 0px 0 -20px 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

.nav-tab:hover {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.nav-tab:active {
  background-color: #fff669;
  transition: .2s;
}

.color-1 {
  background: #ff7b8a;
}

.color-2 {
  background: #ff8300;
}

.color-3 {
  background: #ff806b;
}

.color-4 {
  background: #ff9e5c;
}

.color-5 {
  background: #ff6786;
}

.color-6 {
  background: #6c7ae0;
}

.blue {
  background-color: #d8f4fe;
  padding-bottom: 4px;
  border-radius: 12px 12px 0 0;
  margin-bottom: -22px;
}

.tab-right {
  border-radius: 0 20px 0 0;
}

.center {
  margin: auto;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.flex-center-justify {
  display: flex;
  justify-content: center;
}

.flex-end {
  align-items: flex-end;
}

.flex-gap {
  gap: 48px;
}

.float-left {
  float: left;
}
.float-left-margin {
  float: left;
  margin-right: 12px;
}

.float-right {
  float: right;
  /* margin-top: 25px;
  margin-bottom: -25px;
  margin-right: 10px; */
}

.no-float {
  clear:both;
}

/* .flex-form {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
} */

.side-select {
  margin-left: auto;
  margin-right: 0;
}

.box-big {
  float: none;
}

.box-big-blue {
  float: none;
  background-color: #d8f4fe;
  margin-top: 48px;
  padding: 24px;
}

.box-portal-home {
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 24px;
  border-radius: 24px;
}

.box-scroll {
  overflow: scroll;
  max-height: 488px;
}

.market-details {
  width: fit-content;
  max-width: calc(100% - 48px); 
}

.side-basket {
  margin-top: auto;
  margin-bottom: 8px;
  margin-right: 12px;
}

.basket-details {
  float: left;
}

.popup {
  display: none;
  position: absolute;
  top: auto;
  left: 20vw;
  width: 90%;
  max-width: 600px;
  /* height: fit-content; */
  background-color: #d8f4fe;
  padding: 0px 0px 0px 0px;
  margin-top: 40px;
  z-index: 1002;
  border-radius: 0px 40px 40px 40px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.36);
}

.popup-on {
  display: block;
}

.login-bar {
  /* width: 70%; */
  /* margin-left: 15%;
  margin-right: 15%; */
  height: fit-content;
}

.login-bar {
  font-size: 11pt;
}

.login-bar input {
  margin: 0px 8px;
}

.btn-gap {
  margin-left: 4px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  /* background-color: white; */
  background-color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-large {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
}

.btn-small {
  font-size: .75em;
  padding: .4em .8em;
}

.btn-margin {
  margin-right: 12px;
}

.btn-login {
  width: min-content;
  padding: 10px 16px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  background-color: #dbdbdb;
}

.btn-edit {
  padding: 10px 12px;
  border-radius: 8px;
  height: fit-content;
  border: none;
  background-color: #dbdbdb;
  margin: 12px 0px;
  margin-right: 12px;
}

.btn-cart {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #dbdbdb;
  margin: 12px 12px;
}

.btn-delete {
  padding: 6px 8px;
  border-radius: 8px;
  border: none;
  background-color: #dbdbdb;
  float: right;
}

.btn-like {
  height: fit-content;
  margin-left: 20px;
  margin-top: -4px;
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  background-color: #ffd1d8;
}

.btn-like:hover {
  /* padding: 10px 12px; */
  border-radius: 8px;
  border: none;
  background-color: #ff7b8a;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.btn-like:active {
  background-color: #ff4b5a;
}

.btn-like-on {
  height: fit-content;
  /* padding: 10px 12px; */
  border-radius: 8px;
  border: none;
  background-color: #ff7b8a;
}

.btn-like-on:hover {
  background-color: #ffd1d8;
  transition: .2s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.x-btn {
  padding: 2px 8px;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: -10px;
  background-color: white;
}

.btn-plus {
  margin-top: 12px;
  padding: 2px 9px 4px 9px;
  font-size: 1.2em;
  font-weight: 500;
}

.btn-x:hover {
  background-color: #ff7b8a;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: .2s;
}

.btn-x:active {
  background-color: #ff4b5a;
}

.btn-report{
  padding: 0px 10px;
  font-size: 1em;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

button a {
  text-decoration: none;
  color: #3b4752;
  /* Adjust link color as needed */
}

button a.active {
  /* font-weight: bold; */
  /* background: #fff537; */
  padding: 10px 20px 10px 20px;
  /* Styling for active link */
}

button:hover {
  background: #fffa9c;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

button:active {
  background-color: #fff669;
  transition: .1s;
}

.add-cart {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  background-color: #dbdbdb;
  float: right;
}

.btn-home {
  margin-bottom: -6px;
}

.btn-home:active {
  scale: 120%;
  transition: .4s;
}

/* .button-container {
  display: flex;
  align-items: center;
} */

select {
  background: #fffa9c;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;;
  padding: 8px 16px;
  padding-right: 24px;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 10pt;
}
select:hover {
  background-color: #fffcbe;
}

.select-state {
  width: 64px;
}


.big-logo {
  float: left;
  width: 300px;
}

.small-logo {
  width: 96px;
}

.cart {
  width: 60%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 8px;
  padding: 8px;
}

.cart-sidebar {
  width: 30%;
}

#map {
  width: 98%;
  height: 40vh;
  min-height: 400px;
  margin-left: 1%;
  margin-bottom: 4px;
}


.map-circle {
  shape-outside: circle();
  clip-path: circle();
  width: 36px;
  height: 36px;
  background: #ff6699;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.map-circle:hover {
  background-color: #ff4499;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.map-inside-circle {
  shape-outside: circle();
  clip-path: circle();
  width: 14px;
  height: 14px;
  background: #ff9e5c;
  margin-top: -25px;
  margin-left: 11px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.map-inside-circle:hover {
  transform: scale(1.6);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.map-triangle {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #ff6699;
}

.marker-details {
  background-color: #fff;
  border-style: solid;
  border-color: #b5b5b5;
  border-width: 2px;
  width: fit-content;
  max-width: 192px;
  padding: 4px;
  border-radius: 8px;
}

.marker-name {
  font-weight: 600;
}

.highlight {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Basic form styling */
form {
  /* display: flex;
  flex-direction: column; */
  display: table;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: table-row;
  margin-bottom: 15px;
}

.form-group label {
  display: table-cell;
  vertical-align: top;
  margin-bottom: 5px;
  padding-right: 2em;
  min-width: 146px;
}

.form-group input {
  display: table-cell;
  padding: 8px;
  box-sizing: border-box;
  min-width: 240px;
}

.form-group textarea {
  padding: 8px;
}

.form-group label {
  width: 120px;
}

.form-login input {
  min-width: 312px;
}

.form-contact input, .form-contact textarea {
  background: #eee;
  resize: none;
  border: none;
}

.btn-right {
  border-radius: 0 20px 0 0;
}

.textarea-review {
  margin-top: 16px;
  margin-bottom: 8px;
  width: 100%;
  border: none;
  background-color: #eee;
  font-size: 0.92em;
  resize: none;
}

.textarea-edit {
  width: 100%;
  border: none;
  background-color: #eee;
  font-size: 0.92em;
  resize: none;
}


/* Utility classes */

/* .mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-20 {
  padding: 20px;
} */

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* Optional: Add background color */
}

.markets-container {
  width: 100%;
  max-width: 1200px;
  /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.market-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the gap between cards */
  justify-content: center;
}

.market-cards-container>* {
  flex: 0 0 calc(33.33% - 40px);
  /* Adjust to make three cards fit per row */
  max-width: calc(33.33% - 40px);
  /* Adjust max-width based on desired spacing */
  float: none;
  position: auto;
  top: calc(20vh );
}

.market-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.market-card-button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 10px auto;
  padding: 8px 16px;
  border: 1px solid #ff3399;
  background-color: #ff6699;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}
.market-card-button:hover {
  background-color: #ff8300;
}

.market-image {
  width: 70%;
  max-width: 100%;
  display: block;
  margin: 20px 0;
}

.market-info {
  float: left;
  margin-bottom: 20px;
}

.img-market {
  width: 100%;
  max-width: 1120px;
}

.img-portal {
  width: 100%;
  border-radius: 12px;
}

.bounding-box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.favorites-list li {
  padding: 8px 0px;
  border-top: 1px solid #ccc;
}

.alert-favorites {
  margin-left: 24px;
  margin-top: -5px;
  padding: 10px 20px;
  max-width: max-content;
  background-color: #00bda4;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  animation-name: favAnimation;
  animation-duration: 3333ms;
  animation-fill-mode: forwards;
}

.alert-favorites-hidden {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: 24px;
}

.alert-fail {
  background-color: #ff4b5a;
}

.alert-uploading {
  background-color: #8f96eb;
}

.alert-reviews {
  margin-left: 24px;
  margin-top: -5px;
  padding: 10px 20px;
  max-width: max-content;
  background-color: #00bda4;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  animation-name: favAnimation;
  animation-duration: 6666ms;
  animation-fill-mode: forwards;
}

.alert-reviews-hidden {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: 24px;
}

@keyframes favAnimation {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }
  45% {
    opacity: 1;
    /* transform: rotateX(90deg); */
  }

  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }

  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

.banner-vendor-portal {
  background-color: #8f96eb;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28);
  padding: 8px 0;
  width: 100vw;
}

.banner-admin-portal {
  background-color: #69d2c2;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28);
  padding: 8px 0;
  width: 100vw;
}

.vendor-portal-background {
  background-image: url('../images/LzYeux_120719_0036_1800px.png');
  background-size:cover;
  width: 100%;
  height: 600px;
}

.admin-portal-background {
  background-image: url('../images/LzYeux_120719_0033_1800px.png');
  background-size:cover;
  width: 100%;
  height: 600px;
}

.footer {
  /* justify-self: flex-end; */
  position: absolute;
  background-color: white;
  margin-top: 48px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  max-width: 1056px;
} 

.market-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  position: relative;
}

.market-name {
  flex: 1;
  font-weight: 500;
}

.market-price, .market-baskets {
  flex: 1;
  text-align: center;
}

.market-card-popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 300px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.market-card-popup img {
  width: 100%;
}

.basket-input {
  width: 60px;
  height: 60px; 
  margin-right: 10px;
  padding: 10px;
  font-size: 24px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.pickup-time-input {
  width: 90px;
  height: 50px; 
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

.time-picker {
  display: center;
  align-items: center;
}

.amPm-dropdown {
  width: 60px;
  height: 50px;
  padding: 5px;
}

.basket-save-button {
  background-color: #ff6699;
  border: none;
  width: 200px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.basket-save-button.saved {
  background-color: #28a745;
}

.edit-link {
  color: #007BFF;
  cursor: pointer;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}